@font-face {
    font-family: 'Minesweeper';
    src: url("minesweeper.ttf") format('truetype');
}

@font-face {
    font-family: 'DSEG7';
    src: url("DSEG7Classic-Bold.ttf") format('truetype');
}

body {
    background: #d0d0d0;
}

.window {
    width: calc((24px * 9) + 8px);
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid #808080;
    border-bottom: 4px solid #808080;
    padding: 8px;
}

.game header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #808080;
    border-left: 4px solid #808080;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    padding: 8px;
}

.game header .reset-game {
    background: #b3b3b3;
    border-radius: 0;
    border: 0;
    background-image: url('img/button.bmp');
    background-size: 32px;
    background-position-y: -128px;
    width: 32px;
    height: 32px;
}

.game header .reset-game.win {
    background-position-y: -32px;
}

.game header .reset-game.dead {
    background-position-y: -64px;
}

.game header .reset-game.surprise {
    background-position-y: -96px;
}

.game header .reset-game:active {
    background-position-y: 0;
}

.game .display {
    background: #000;
    font-size: 28px;
    font-family: 'DSEG7';
    color: #FF0000;
    padding: 2px 0;
}

.game .display .off {
    color: #FF0000;
    position: absolute;
    opacity: 0.3;
}

.game main {
    font-family: 'Minesweeper';
    border-top: 4px solid #808080;
    border-left: 4px solid #808080;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    margin-top: 8px;
}

.game main .row {
    display: flex;
}

.game main .row div {
    background-image: url('img/cell.bmp');
    background-size: 24px;
    width: 24px;
    height: 24px;
}

.game main .row div:not([class]):active {
    background-position-y: calc(-24px* 15);
}

.game main .row div.one {
    background-position-y: calc(-24px* 14);
}

.game main .row div.two {
    background-position-y: calc(-24px* 13);
}

.game main .row div.three {
    background-position-y: calc(-24px* 12);
}

.game main .row div.four {
    background-position-y: calc(-24px* 11);
}

.game main .row div.five {
    background-position-y: calc(-24px* 10);
}

.game main .row div.six {
    background-position-y: calc(-24px* 9);
}

.game main .row div.seven {
    background-position-y: calc(-24px* 8);
}

.game main .row div.eight {
    background-position-y: calc(-24px* 7);
}

.game main .row div.question:active {
    background-position-y: calc(-24px* 6);
}

.game main .row div.mine {
    background-position-y: calc(-24px* 5);
}

.game main .row div.mine-pressed {
    background-position-y: calc(-24px* 3);
}

.game main .row div.question {
    background-position-y: calc(-24px* 2);
}

.game main .row div.flag {
    background-position-y: calc(-24px* 1);
}